<div class = 'cars'>
<h1 class="head">List of car</h1>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Color</th>
      <th>Price</th>
      <th>Power</th>
      <th>Weight</th>
      <th>Speed</th>
      <th>Size</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.age %></td>
        <td><%= car.color %></td>
        <td><%= car.price %></td>
        <td><%= car.power %></td>
        <td><%= car.weight %></td>
        <td><%= car.speed %></td>
        <td><%= car.size %></td>
        <td><%= car.picture %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <h3 class="message">No car available yet</h3>


</br>

<%= link_to 'Sort by price', cars_path(sort_price: 'true'), class: 'ui blue button inverted'%>

<%= link_to 'Sort by age', cars_path(sort_age: 'true'), class: 'ui red button inverted' %>


<% if current_user.role == "Client" %>
<div class="pagination">
<%= paginate @cars %>
</div>
<% end %>

</br>
<% if current_user.role == "Owner" %>
</br>
<%= link_to 'Add car', new_car_path,class: 'ui orange button' %>
<% end %>
</br>
</br>
</br>
</div>
